.input-container {
  display: flex;
  gap: 8px;

  input {
    flex: 1;
  }

  button {
    padding: 0;
    background-color: lightcyan;
    height: 40px;
    width: 70px;

    &:disabled {
      background-color: lightgray;
    }
  }

  input,
  button {
    box-shadow:
      rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }
}
